In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train (24).csv')

In [3]:
df.head()

,Timestamp,Temperature,Dew Point,Surface Albedo,Pressure,Wind Direction,Wind Speed,Clearsky DHI,Clearsky DNI,Clearsky GHI,Fill Flag,Ozone,Cloud Type,Solar Zenith Angle,Precipitable Water,Relative Humidity
0,2019-01-01 00:00:00,12.5,6.9,0.21,1005,121,1.0,0,0,0,0,0.258,1,173.92,1.4,68.82
1,2019-01-01 00:10:00,12.3,6.9,0.21,1005,122,1.0,0,0,0,0,0.258,1,171.79,1.3,69.73
2,2019-01-01 00:20:00,12.1,6.9,0.21,1005,124,1.0,0,0,0,0,0.258,1,169.59,1.3,70.65
3,2019-01-01 00:30:00,12.0,6.9,0.21,1005,125,1.0,0,0,0,0,0.258,1,167.37,1.3,71.11
4,2019-01-01 00:40:00,11.8,6.9,0.21,1005,126,1.0,0,0,0,0,0.258,1,165.13,1.3,71.91

Timestamp: Time and date of the recorded data.

Temperature: The air temperature at the given timestamp in degrees Celsius.

Dew Point: The temperature at which air becomes saturated with moisture and dew forms, measured in degrees Celsius.

Surface Albedo: The fraction of solar energy reflected by the Earth's surface, typically a value between 0 and 1.

Pressure: Atmospheric pressure at the given timestamp, typically measured in hPa (hectopascals).

Wind Direction: The direction from which the wind is blowing, measured in degrees.

Wind Speed: The speed of the wind at the given timestamp, typically measured in meters per second.

Clearsky DHI: Direct Horizontal Irradiance (DHI) from the sun in the absence of clouds, measured in watts per square meter.

Clearsky DNI: Direct Normal Irradiance (DNI) from the sun in the absence of clouds, measured in watts per square meter.

Clearsky GHI: Global Horizontal Irradiance (GHI) from the sun in the absence of clouds, measured in watts per square meter.

Fill Flag: A flag indicating if any data filling or correction was applied to this particular timestamp.

Ozone: The concentration of ozone in the atmosphere, typically measured in Dobson units.

Cloud Type: A numerical code representing the type of clouds present in the sky.

Solar Zenith Angle: The angle between the zenith (vertical) and the line directly connecting the sun and the observer's location.

Precipitable Water: The depth of water that would accumulate on the ground if all the moisture in the atmosphere were to condense, measured in millimeters.
Relative Humidity: The ratio of the actual amount of moisture present in the air to the maximum amount the air could hold at that temperature, expressed as a percentage.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210240 entries, 0 to 210239
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Timestamp           210240 non-null  object
 1   Temperature         210240 non-null  float64
 2   Dew Point           210240 non-null  float64
 3   Surface Albedo      210240 non-null  float64
 4   Pressure            210240 non-null  int64
 5   Wind Direction      210240 non-null  int64
 6   Wind Speed          210240 non-null  float64
 7   Clearsky DHI        210240 non-null  int64
 8   Clearsky DNI        210240 non-null  int64
 9   Clearsky GHI        210240 non-null  int64
 10  Fill Flag           210240 non-null  int64
 11  Ozone               210240 non-null  float64
 12  Cloud Type          210240 non-null  int64
 13  Solar Zenith Angle  210240 non-null  float64
 14  Precipitable Water  210240 non-null  float64
 15  Relative Humidity   210240 non-null  float64
dtypes: float64(8), int64(7), object(1)
memory usage: 25.7+ MB

In [5]:
data = df.drop("Timestamp", axis=1)

In [6]:
data.head()

,Temperature,Dew Point,Surface Albedo,Pressure,Wind Direction,Wind Speed,Clearsky DHI,Clearsky DNI,Clearsky GHI,Fill Flag,Ozone,Cloud Type,Solar Zenith Angle,Precipitable Water,Relative Humidity
0,12.5,6.9,0.21,1005,121,1.0,0,0,0,0,0.258,1,173.92,1.4,68.82
1,12.3,6.9,0.21,1005,122,1.0,0,0,0,0,0.258,1,171.79,1.3,69.73
2,12.1,6.9,0.21,1005,124,1.0,0,0,0,0,0.258,1,169.59,1.3,70.65
3,12.0,6.9,0.21,1005,125,1.0,0,0,0,0,0.258,1,167.37,1.3,71.11
4,11.8,6.9,0.21,1005,126,1.0,0,0,0,0,0.258,1,165.13,1.3,71.91

In [7]:
data.isnull().sum()

Temperature           0
Dew Point             0
Surface Albedo        0
Pressure              0
Wind Direction        0
Wind Speed            0
Clearsky DHI          0
Clearsky DNI          0
Clearsky GHI          0
Fill Flag             0
Ozone                 0
Cloud Type            0
Solar Zenith Angle    0
Precipitable Water    0
Relative Humidity     0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210240 entries, 0 to 210239
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Temperature         210240 non-null  float64
 1   Dew Point           210240 non-null  float64
 2   Surface Albedo      210240 non-null  float64
 3   Pressure            210240 non-null  int64
 4   Wind Direction      210240 non-null  int64
 5   Wind Speed          210240 non-null  float64
 6   Clearsky DHI        210240 non-null  int64
 7   Clearsky DNI        210240 non-null  int64
 8   Clearsky GHI        210240 non-null  int64
 9   Fill Flag           210240 non-null  int64
 10  Ozone               210240 non-null  float64
 11  Cloud Type          210240 non-null  int64
 12  Solar Zenith Angle  210240 non-null  float64
 13  Precipitable Water  210240 non-null  float64
 14  Relative Humidity   210240 non-null  float64
dtypes: float64(8), int64(7)
memory usage: 24.1 MB

In [9]:
#Clearsky DHI

X = data.drop(['Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI'], axis = 1)
y_DHI = data['Clearsky DHI']

In [10]:
#Clearsky DNI

y_DNI = data['Clearsky DNI']

In [11]:
#Clearsky GHI

y_GHI = data['Clearsky GHI']

In [12]:
#standardization

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)

In [13]:
X

array([[-1.65473565, -0.63975669, -0.0777113 , ...,  1.96427707,
        -0.87428043,  0.5205199 ],
       [-1.6778861 , -0.63975669, -0.0777113 , ...,  1.91457172,
        -0.91848999,  0.55116734],
       [-1.70103655, -0.63975669, -0.0777113 , ...,  1.86323286,
        -0.91848999,  0.58215155],
       ...,
       [-2.31452344, -0.74723276, -0.0777113 , ...,  2.04338558,
        -0.69744219,  1.34362234],
       [-2.31452344, -0.76677387, -0.0777113 , ...,  2.04455237,
        -0.69744219,  1.29950351],
       [-2.31452344, -0.76677387, -0.0777113 , ...,  2.00978197,
        -0.69744219,  1.29950351]])

In [14]:
#train test split

from sklearn.model_selection import train_test_split

In [15]:
#dhi

X_train1, X_test1, y_train1, y_test1 = train_test_split(X, y_DHI, test_size = 0.3, random_state=43)

In [16]:
#dni

X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y_DNI, test_size = 0.3, random_state=43)

In [17]:
#ghi

X_train3, X_test3, y_train3, y_test3 = train_test_split(X, y_GHI, test_size = 0.3, random_state=43)

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import *

In [19]:
model = RandomForestRegressor()

In [20]:
model_dhi = model.fit(X_train1,y_train1)

In [21]:
pred_dhi = model_dhi.predict(X_test1) #y_test1

In [22]:
pred_dhi

array([  0.  ,   0.  ,   0.  , ..., 329.79, 195.63, 278.27])

In [23]:
mean_squared_error(y_test1, pred_dhi)

130.56925123351093

In [24]:
r2_score(y_test1, pred_dhi)

0.9910015508127832

In [25]:
#dni
model2 = RandomForestRegressor()

model_dni = model2.fit(X_train2,y_train2)

pred_dni = model_dni.predict(X_test2) #y_test2

mean_squared_error(pred_dni, y_test2)

1084.93093408327

In [26]:
r2_score(pred_dni, y_test2)

0.9855686102792094

In [27]:
#ghi
model3 = RandomForestRegressor()

model_ghi = model3.fit(X_train3,y_train3)

pred_ghi = model_ghi.predict(X_test3) #y_test3

mean_squared_error(pred_ghi, y_test3)

120.25745409690512

In [28]:
r2_score(pred_ghi, y_test3)

0.9988612161783125

In [29]:
test = pd.read_csv("test (2).csv")

In [30]:
test.head()

,Timestamp,Temperature,Dew Point,Surface Albedo,Pressure,Wind Direction,Wind Speed,Clearsky DHI,Clearsky DNI,Clearsky GHI,Fill Flag,Ozone,Cloud Type,Solar Zenith Angle,Precipitable Water,Relative Humidity
0,2023-01-01 00:00:00,11.3,1.6,0.21,1006,305,1.2,NaN,NaN,NaN,0,0.255,0,173.92,1.4,51.38
1,2023-01-01 00:10:00,11.2,1.6,0.21,1006,306,1.2,NaN,NaN,NaN,0,0.255,0,171.79,1.4,51.72
2,2023-01-01 00:20:00,11.1,1.6,0.21,1006,306,1.2,NaN,NaN,NaN,0,0.255,0,169.59,1.4,52.06
3,2023-01-01 00:30:00,11.0,1.6,0.21,1006,307,1.2,NaN,NaN,NaN,0,0.255,0,167.37,1.4,52.41
4,2023-01-01 00:40:00,10.9,1.2,0.21,1006,307,1.2,NaN,NaN,NaN,0,0.255,0,165.13,1.4,51.34

In [31]:
test = test.drop(['Timestamp','Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI'], axis=1)

In [32]:
test = sc.fit_transform(test)

In [33]:
#dhi pred

pred1 = model.predict(test)

In [34]:
pred1

array([0., 0., 0., ..., 0., 0., 0.])

In [35]:
#dni

pred2 = model2.predict(test)

In [36]:
pred2

array([0., 0., 0., ..., 0., 0., 0.])

In [37]:
#ghi

pred3 = model3.predict(test)

In [38]:
pred3

array([0., 0., 0., ..., 0., 0., 0.])

In [39]:
pred1 = pd.DataFrame(pred1)
pred1

         0
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
52555  0.0
52556  0.0
52557  0.0
52558  0.0
52559  0.0

[52560 rows x 1 columns]

In [40]:
pred1.to_csv("pred1.csv")

In [41]:
#pycaret

In [42]:
!pip install pycaret

Requirement already satisfied: pycaret in c:\users\91801\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: ipython>=5.5.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (8.10.0)
Requirement already satisfied: ipywidgets>=7.6.5 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (7.6.5)
Requirement already satisfied: tqdm>=4.62.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (4.64.1)
Requirement already satisfied: numpy<1.27,>=1.21 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (1.23.5)
Requirement already satisfied: pandas<2.2.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (1.5.3)
Requirement already satisfied: jinja2>=3 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (3.1.2)
Requirement already satisfied: scipy<=1.11.4,>=1.6.1 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (1.10.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (1.3.2)
Requirement already satisfied: scikit-learn>1.4.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (1.4.1.post1)
Requirement already satisfied: pyod>=1.1.3 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (1.1.3)
Requirement already satisfied: imbalanced-learn>=0.12.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (0.12.0)
Requirement already satisfied: category-encoders>=2.4.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (2.6.3)
Requirement already satisfied: lightgbm>=3.0.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (4.3.0)
Requirement already satisfied: numba>=0.55.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (0.56.4)
Requirement already satisfied: requests>=2.27.1 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (2.28.1)
Requirement already satisfied: psutil>=5.9.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (5.9.0)
Requirement already satisfied: markupsafe>=2.0.1 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (2.1.1)
Requirement already satisfied: importlib-metadata>=4.12.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (7.0.1)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (5.7.0)
Requirement already satisfied: cloudpickle in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (2.0.0)
Requirement already satisfied: deprecation>=2.1.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (2.1.0)
Requirement already satisfied: xxhash in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (3.4.1)
Requirement already satisfied: matplotlib<3.8.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (3.7.0)
Requirement already satisfied: scikit-plot>=0.3.7 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (0.3.7)
Requirement already satisfied: yellowbrick>=1.4 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (1.5)
Requirement already satisfied: plotly>=5.14.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (5.19.0)
Requirement already satisfied: kaleido>=0.2.1 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (0.2.1)
Requirement already satisfied: schemdraw==0.15 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (0.15)
Requirement already satisfied: plotly-resampler>=0.8.3.1 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (0.9.2)
Requirement already satisfied: statsmodels>=0.12.1 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (0.13.5)
Requirement already satisfied: sktime>=0.26.0 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (0.26.1)
Requirement already satisfied: tbats>=1.1.3 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (1.1.3)
Requirement already satisfied: pmdarima>=2.0.4 in c:\users\91801\anaconda3\lib\site-packages (from pycaret) (2.0.4)
Requirement already satisfied: patsy>=0.5.1 in c:\users\91801\anaconda3\lib\site-packages (from category-encoders>=2.4.0->pycaret) (0.5.3)
Requirement already satisfied: packaging in c:\users\91801\anaconda3\lib\site-packages (from deprecation>=2.1.0->pycaret) (22.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\91801\anaconda3\lib\site-packages (from imbalanced-learn>=0.12.0->pycaret) (2.2.0)
Requirement already satisfied: zipp>=0.5 in c:\users\91801\anaconda3\lib\site-packages (from importlib-metadata>=4.12.0->pycaret) (3.11.0)
Requirement already satisfied: backcall in c:\users\91801\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: decorator in c:\users\91801\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\91801\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\91801\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\91801\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\91801\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\91801\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (2.11.2)
Requirement already satisfied: stack-data in c:\users\91801\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\91801\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (5.7.1)
Requirement already satisfied: colorama in c:\users\91801\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.4.6)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\91801\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (6.19.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\91801\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\91801\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (3.5.2)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\91801\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (1.0.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\91801\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\91801\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\91801\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\91801\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\91801\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\91801\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\91801\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (2.8.2)
Requirement already satisfied: fastjsonschema in c:\users\91801\anaconda3\lib\site-packages (from nbformat>=4.2.0->pycaret) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\91801\anaconda3\lib\site-packages (from nbformat>=4.2.0->pycaret) (4.17.3)
Requirement already satisfied: jupyter-core in c:\users\91801\anaconda3\lib\site-packages (from nbformat>=4.2.0->pycaret) (5.2.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in c:\users\91801\anaconda3\lib\site-packages (from numba>=0.55.0->pycaret) (0.39.1)
Requirement already satisfied: setuptools in c:\users\91801\anaconda3\lib\site-packages (from numba>=0.55.0->pycaret) (65.6.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\91801\anaconda3\lib\site-packages (from pandas<2.2.0->pycaret) (2022.7)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\91801\anaconda3\lib\site-packages (from plotly>=5.14.0->pycaret) (8.0.1)
Requirement already satisfied: dash>=2.9.0 in c:\users\91801\anaconda3\lib\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (2.15.0)
Requirement already satisfied: orjson<4.0.0,>=3.8.0 in c:\users\91801\anaconda3\lib\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (3.9.15)
Requirement already satisfied: tsdownsample==0.1.2 in c:\users\91801\anaconda3\lib\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (0.1.2)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in c:\users\91801\anaconda3\lib\site-packages (from pmdarima>=2.0.4->pycaret) (3.0.0)
Requirement already satisfied: urllib3 in c:\users\91801\anaconda3\lib\site-packages (from pmdarima>=2.0.4->pycaret) (1.26.14)
Requirement already satisfied: six in c:\users\91801\anaconda3\lib\site-packages (from pyod>=1.1.3->pycaret) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\91801\anaconda3\lib\site-packages (from requests>=2.27.1->pycaret) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\91801\anaconda3\lib\site-packages (from requests>=2.27.1->pycaret) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91801\anaconda3\lib\site-packages (from requests>=2.27.1->pycaret) (2023.7.22)
Requirement already satisfied: scikit-base<0.8.0 in c:\users\91801\anaconda3\lib\site-packages (from sktime>=0.26.0->pycaret) (0.7.2)
Requirement already satisfied: Flask<3.1,>=1.0.4 in c:\users\91801\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.2.2)
Requirement already satisfied: Werkzeug<3.1 in c:\users\91801\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.2.2)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\91801\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\91801\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\91801\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (5.0.0)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\91801\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (4.4.0)
Requirement already satisfied: retrying in c:\users\91801\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.3.4)
Requirement already satisfied: nest-asyncio in c:\users\91801\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.5.6)
Requirement already satisfied: comm>=0.1.1 in c:\users\91801\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (0.1.2)
Requirement already satisfied: debugpy>=1.0 in c:\users\91801\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (1.5.1)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\91801\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (7.3.4)
Requirement already satisfied: pyzmq>=17 in c:\users\91801\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (23.2.0)
Requirement already satisfied: tornado>=6.1 in c:\users\91801\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\91801\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\91801\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\91801\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.18.0)
Requirement already satisfied: wcwidth in c:\users\91801\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.30->ipython>=5.5.0->pycaret) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\91801\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (6.5.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\91801\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->pycaret) (2.5.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\91801\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->pycaret) (305.1)
Requirement already satisfied: executing in c:\users\91801\anaconda3\lib\site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: asttokens in c:\users\91801\anaconda3\lib\site-packages (from stack-data->ipython>=5.5.0->pycaret) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\91801\anaconda3\lib\site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.2.2)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\91801\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.1)
Requirement already satisfied: click>=8.0 in c:\users\91801\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (8.0.4)
Requirement already satisfied: entrypoints in c:\users\91801\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (0.4)
Requirement already satisfied: argon2-cffi in c:\users\91801\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (21.3.0)
Requirement already satisfied: nbconvert>=5 in c:\users\91801\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (6.5.4)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\91801\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\91801\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.17.1)
Requirement already satisfied: prometheus-client in c:\users\91801\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.14.1)
Requirement already satisfied: nbclassic>=0.4.7 in c:\users\91801\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.5.2)
Requirement already satisfied: jupyter-server>=1.8 in c:\users\91801\anaconda3\lib\site-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (1.23.4)
Requirement already satisfied: notebook-shim>=0.1.0 in c:\users\91801\anaconda3\lib\site-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.2.2)
Requirement already satisfied: lxml in c:\users\91801\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (4.9.1)
Requirement already satisfied: beautifulsoup4 in c:\users\91801\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (4.11.1)
Requirement already satisfied: bleach in c:\users\91801\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\91801\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\91801\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\91801\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\91801\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.5.13)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\91801\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (1.5.0)
Requirement already satisfied: tinycss2 in c:\users\91801\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (1.2.1)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\91801\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (2.0.10)
Requirement already satisfied: argon2-cffi-bindings in c:\users\91801\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (21.2.0)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\users\91801\anaconda3\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (3.5.0)
Requirement already satisfied: websocket-client in c:\users\91801\anaconda3\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.58.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\91801\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\91801\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\91801\anaconda3\lib\site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.5.1)
Requirement already satisfied: sniffio>=1.1 in c:\users\91801\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (1.2.0)
Requirement already satisfied: pycparser in c:\users\91801\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (2.21)

In [43]:
import sklearn
print(sklearn.__version__)

1.4.1.post1

In [44]:
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\91801\anaconda3\lib\site-packages (24.0)

In [45]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\91801\anaconda3\lib\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\91801\anaconda3\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.6.0 in c:\users\91801\anaconda3\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\91801\anaconda3\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\91801\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [46]:
#!pip uninstall scikit-learn
#!pip install scikit-learn

In [47]:
from pycaret.regression import *

In [48]:
import pandas as pd
data = pd.read_csv("train (24).csv")

In [49]:
new = data.drop(['Timestamp', 'Clearsky DHI', 'Clearsky GHI'], axis=1)

In [50]:
s = setup(new, target='Clearsky DNI',session_id = 222)

In [51]:
best = compare_models()

Processing:   0%|          | 0/77 [00:00<?, ?it/s]